.word {
  height: 200px;
  text-align: center;
  margin-top: 3px;
  font-size: 20px;
  border: 3px solid black;
}

body {
  text-shadow: 5px 3px 4px grey;
  background-color: white;
  color: black;
}

.bg-dark {
  text-shadow: 3px 3px 4px white;
  background-color: grey;
  color: black;
}

p {
  padding: 10px;
}

.init-hidden {
  display: none;
}

.btn {
  margin: 5px;
  margin-top: 20px;
}
